.detail-image {
    width: 100%;
    border-radius: 10px;
}

.btn-back {
    margin-bottom: 10px;
}

.btn-back-link {
    text-decoration: none;
    color: snow;
}

.video-parent{
    display: flex;
    flex-wrap: wrap;
}