.searchbody {
  padding: 5px;
}

.searchParent {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-align: start;
}

.searchChild {
  margin: 5px;
}

.searchChild img {
  width: 150px;
  height: 100%;
}

.black {
  color: floralwhite;
  font-weight: bold;
  text-decoration: none;
}
