.content-container {
  padding: 5px;
}

a.nav-link {
  color:cornsilk;
}

.parent {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.child {
  height: 20rem;
  margin: 5px;
  border: 1px solid black transparent;
  border-radius: 3px;
}

.child img {
  width: 150px;
  height: 50%;
}

.content {
  width: 150px;
  overflow-wrap: break-word;
}

.content .title {
  font-weight: bold;
  font-size: 14pt;
  font-family: fantasy;
}